[Desktop Entry]
Comment[en_US]=
Comment=
Exec=konsole --noclose -e sudo nixos-rebuild switch --flake '/etc/nixos#nixos'
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=Rebuild NixOS
Name=Rebuild NixOS
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
